body {
	background-color: black;
	color: green;
	font-family: courier;
}
.box {
	border-width: 5px;
	border-style: double;
	padding-bottom: 50px;
	text-align: center;
}

.box-two {
	margin-top: 50px;
	border-width: 5px;
	border-style: double;
	padding-top: 50px;
}

.signIn {
	text-align: center;
}

.signUp {
	text-align: center;
}

.banner {
	text-align: center;
	background-color: black;
}

.remove-button {
	border-radius: 10%; 
	height: 21px; 
	width: 30px;
	border-width: 2px;
}


#completeGameTop {
	padding-top: 35px;
}

#leaderboardTitle {
	text-decoration: underline;
	margin-top: 45px;
}

.nameSpace {
	padding-bottom: 15px;
}

#selectedPlayers {
	margin-top: 5px;
	margin-bottom: 25px;
}	

#belowPlayerHeader {
	margin-bottom: 20px;
}

.leaderboardButtons {
	margin-top: 15px;
}

#startButton {
	border-radius: 15%;

}
#gameMaker {
	text-align: center;
	display: inline-block;

}