body {
	background-color: black;
	color: green;
	font-family: courier;
}
.box {
	border-width: 5px;
	border-style: double;
	padding-bottom: 50px;
	text-align: center;
}

.box-two {
	margin-top: 50px;
	border-width: 5px;
	border-style: double;
	padding-top: 50px;
}

.signIn {
	text-align: center;
}

.signUp {
	text-align: center;
}

.banner {
	text-align: center;
	background-color: black;
}

.remove-button {
	border-radius: 10%; 
	height: 30px; 
	width: 30px;
	border-width: 2px;
}

.nameSpace {
	padding-bottom: 15px;
}

#selectedPlayers {
	margin-top: 25px;
	margin-bottom: 35px;
}	

#belowPlayerHeader {
	margin-bottom: 25px;
}

#startButton {
	border-radius: 15%;

}
#gameMaker {
	text-align: center;
	display: inline-block;

}
#AgentPicture {
	max-width: 10px;
	max-height: 10px;
}