body {
	background-color: black;
	color: green;
	font-family: courier;
}

/* profile.ejs css*/

.box {
	margin-top: 90px;
	border-width: 5px;
	border-style: double;
	padding-bottom: 70px;
	text-align: center;
}

.box-two {
	margin-top: 90px;
	border-width: 5px;
	border-style: double;
	padding-top: 40px;
	margin-bottom: 70px;
}

.confirmTagText {
	margin-top: 25px;
}

#ImageContainer { width: 300px; }

img.agentPicture {
    width:100%;
	padding-bottom: 45px;
	padding-left: 20px;
}

.creategamebtn {
	padding-bottom: 15px;
}

/*close profile.ejs css */

.signIn {
	text-align: center;
}

.signUp {
	text-align: center;
}

.banner {
	text-align: center;
	background-color: black;
}

/* css for completeGame.ejs */

.remove-button {
	border-radius: 10%; 
	height: 21px; 
	width: 30px;
	border-width: 2px;
}


#completeGameTop {
	padding-top: 35px;
}

.enlargeGameName {
	font-size: 20px;
}

.enlargePlayersName {
	font-size: 20px;
}

#leaderboardTitle {
	text-decoration: underline;
	margin-top: 45px;
}

.nameSpace {
	padding-bottom: 15px;
}

#selectedPlayers {
	margin-top: 5px;
	margin-bottom: 25px;
}	

#belowPlayerHeader {
	margin-bottom: 20px;
}

.leaderboardButtons {
	margin-top: 15px;
	margin-top: 25px;
	margin-bottom: 35px;
}	

#belowPlayerHeader {
	margin-bottom: 25px;
}

#startButton {
	border-radius: 15%;
}

/* css for createGame.ejs */


#gameMaker {
	margin-top: 40px;
	text-align: center;
	display: inline-block;
}

#gameMaker legend {
	color: green;
	font-size: 33px;
}

#gameSubmit {
	margin-top: 20px;
}

}
#AgentPicture {
	max-width: 10px;
	max-height: 10px;
}
/* Nav Bar CSS and Logo */
nav{
	color:red;
	background: linear-gradient(#0B0E18, #23A00D);

}
.nav a {
	color: ;
	
	font-weight: bold;
}
#eyeLogo {

   transform-style: preserve-3d;
}

.rotate-y {
   animation: spinY 10s infinite linear;
}

@keyframes spinY {
   from { transform: rotateY(0); }
   to { transform: rotateY(360deg); }

}

